/*
Filename: 		curreX.css
Date: 			2008-05-10
Copyright: 		2008, miCRoSCoPiC^eaRthLinG
Author: 		Sourjya Sankar Sen (sourjya@choas-laboratory.com)
Description: 	CSS Styling for the curreX Widget
License:		GPL
Requires:
*/

div#curreX {
	margin:10px;
	padding:2px;
	letter-spacing:1px;
	width:166px;
	font-size:1.25em;
}

div#curreXbody {
	padding:2px;
	font-size:0.8em;
}

div#help-link {
	float:right;
	margin-bottom:2px;
	cursor:pointer;
}

div#help-link a { text-decoration:none; }
div#help-link img { border:0; }

input#amount {
	width:91.5%;
	border:1px solid #ADADAD;
	padding:2px 5px 2px 5px;
	font-size: 1.1em;
}

select#curr_from, select#curr_to {
	width:99%;
	border:1px solid #ADADAD;
	font-size:1em;
	padding:2px;
}

select#curr_from option, select#curr_to option { padding-left:4px; }

div#convResult {
	width:94.5%;
	border:1px solid #ADADAD;
	padding-left:5px;
	font-size:1.1em;
}

div#convResult span#result {
	font-weight:bold;
	color:#017546;
}

div#convResult span#error {
	font-weight:bold;
	color:#B91919;
}

input#convert { 
	border:2px solid #D1D1D1;
	margin:3px 0 0 0;
	padding:1px 3px 1px 3px;
	letter-spacing:1px;
	cursor:pointer;
	font-weight:bold;
	background-color:#000;
	color:#fff;
}

div#notice { font-size:0.9em; }